﻿@model PortalSpolecznosciowy.Models.ForgottenPassword

@{
    ViewBag.Title = "Zapomniane hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zapomniane hasło</h2>


@using (Html.BeginForm("SendLink", "ForgottenPassword")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @if (TempData["error"] != null)
        {
            <label class="text-danger">
                @TempData["error"]
            </label>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
