﻿@using PortalSpolecznosciowy.HtmlHelpers
@model PortalSpolecznosciowy.Models.ProfilAndWall

@foreach (var art in Model.articles)
{
    var user = new PortalSpolecznosciowy.Repository.GetUser(@art.Users_ID).UserLogin;
    @Html.Raw("<div class=\"panel panel-default\">")
    @Html.Raw("<div class=\"panel-body\">")
    <label class="h6">
        @Html.Raw("<b> autor: ")
        @Html.ActionLink(@user, "UserProfile", "Users", new {userLogin = @user}, null)
        @Html.Raw("</b> <br/>")
    </label>

    if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                            new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
    {
        @Html.ActionLink("Edytuj", "EditArticle", "Article", new { artId = @art.ID, authorId = @art.Users_ID }, null)
        @Html.Raw(" | ")
        @Html.ActionLink("Usuń", "DeleteArticle", "Article", new { artId = @art.ID, authorId = @art.Users_ID }, null)
    }

    <br />
    if (art.Content != null)
    {
        <span class="lead">
            @art.Content
        </span>
    }
    <br />
    if ( !String.IsNullOrEmpty(art.Image) )
    {
        <a class="group3" href="@Url.Content(art.Image)" title="@art.Content">
            <img class="img-thumbnail" src="@Url.Content(art.Image)" alt="Image" height="100" width="100" />
        </a>
    }
    <br />
    @Html.Raw("</div>")
    @Html.Raw("<div class=\"panel-footer\">")
    @Html.Raw("<b>Komentarze: </b>")
    <br />

    var comments = new PortalSpolecznosciowy.Repository.GetComments(@art.ID).Comments;
    foreach (var com in comments)
    {
        @Html.Raw("<div class=\"panel-footer\">")
        var author = new PortalSpolecznosciowy.Repository.GetUser(@com.Users_ID).UserLogin;
        <p class="h6">
            @Html.Raw("<b> autor: ")
            @Html.ActionLink(@author, "UserProfile", "Users", new { userLogin = @author }, null)
            @Html.Raw("</b>")

            @if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                                          new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
            {
                <!--
            Html.ActionLink("Edytuj", "EditArticle", "Article", new { artId = Model.ArticleID, authorId = Model.Article.Users_ID }, null)
            Html.Raw(" | ")
                -->
                @Html.ActionLink("Usuń", "DeleteComment", "Article", new { artId = @art.ID, comId = @com.ID }, null)
            }

            <br />
            <br />
            @com.Content
        </p>

        if (com.Image != null)
        {
            <a class="group3" href="@Url.Content(com.Image)" title="@com.Content">
                <img class="img-thumbnail" src="@Url.Content(com.Image)" alt="Image" height="100" width="100" />
            </a>
        }
        @Html.Raw("</div>")
    }

    @Html.Raw("<div class=\"panel-footer \">")
    @Html.ActionLink("Pokaż wszystkie komentarze", "Index", "Article", new { articleId = art.ID }, null)
    <br />
    using (Html.BeginForm("AddComment", "MainPanel", FormMethod.Post, new { enctype = "multipart/form-data", id = "Form" + @art.ID }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.TextBoxFor(x => x.CommentContent, new { @class = "form-control", id = "Comment" + @art.ID, @Value = "napisz komentarz", onclick = "clearField(this.id)" })
        <br />
        @Html.TextBoxFor(x => x.File, new { type = "file", id = "CommentFile" + @art.ID, @class = "filestyle", data_input = "false", data_buttonText = "Wybierz obrazek" })
        @Html.HiddenFor(x => x.user.Login, new { @value = Session["Login"] })
        @Html.Hidden("articleId", @art.ID)
        @Html.Hidden("accessible", 1)
        <br />
                <input type="submit" value="Skomentuj" onclick="onSend(@art.ID)" class="btn btn-primary" />
    }
    @Html.Raw("</div>")
    @Html.Raw("</div>")
    @Html.Raw("</div>")
}

<div class="btn-groupp pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", "MainPanel", new { page = x, option = TempData["option"] }))
</div>

<script>
    var click = false;
    function clearField(id) {
        console.log(id);
        document.getElementById(id).value = "";
        click = true;
    }

    function onSend(formId) {
        if (click == false)
            document.getElementById("Comment" + formId).value = null;
    }
</script>
