﻿@model PortalSpolecznosciowy.Models.UserProfile

@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserLogin</h2>

<div class="row panel" style="margin-top: 50px;">
    <div class="col-md-3">
        <a class="group3" href="@Url.Content(@Model.ProfileImageUrl)" title="@Model.UserLogin">
            <img src="@Url.Content(@Model.ProfileImageUrl)" width="200" height="200" alt="ProfileImage"/>
        </a>
        <br/>
        <br/>
        @if (Session["Login"] != null)
        {
            if (new PortalSpolecznosciowy.Repository.GetUser(Session["Login"].ToString()).UserID !=
                new PortalSpolecznosciowy.Repository.GetUser(@Model.UserLogin).UserID)
            {
                switch (Model.FriendStatus)
                {
                    case 0:
                    {
                        //jeżeli nie ma znajomego
                        @Html.ActionLink("Dodaj znajomego", "AddContact", "Users", new {friendLogin = @Model.UserLogin}, new {@class = "btn btn-primary", @style = "color:white"})
                        break;
                    }

                    case 1:
                    {
                        //czeka na akceptacje
                        @Html.ActionLink("Czeka na akceptacje", "Index", "Contacts", null, new {@class = "btn btn-info", @style = "color:white"})
                        break;
                    }

                    case 2:
                    {
                        //sa znajomymi
                        @Html.ActionLink("Znajomy", "Index", "Contacts", null, new {@class = "btn btn-success", @style = "color:white"})
                        break;
                    }
                }
            }
            <br/>
            <br/>
            <br/>
            <br/>

            if (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3)
            {
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Użytkownik",
                    Value = "1"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Moderator",
                    Value = "2"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Administrator",
                    Value = "3"
                });

                using (Html.BeginForm("ChangeRole", "Users", FormMethod.Post))
                {
                    @Html.DropDownListFor(x => x.Role, new SelectList(listItems, "Value", "Text", @Model.Role), new {@class = "btn btn-primary dropdown-toggle"})
                    @Html.HiddenFor(x => x.UserLogin, @Model.UserLogin)
                    <br/>
                    <br/>
                    <input type="submit" value="Zmień uprawnienia" class="btn " style="color: brown"/>
                }
            }
        }
        <br/>
    </div>
    <div id="categories" class="col-md-5">

        @foreach (var art in Model.ArticleList)
        {
            var user = new PortalSpolecznosciowy.Repository.GetUser(@art.Users_ID).UserLogin;
            @Html.Raw("<div class=\"panel panel-default\">")
            @Html.Raw("<div class=\"panel-body\">")
            <label class="h6">
                @Html.Raw("<b> autor: " + @user + "</b>") <br/>
            </label>

            if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                             new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
            {
                @Html.ActionLink("Edytuj", "EditArticle", "Article", new {artId = @art.ID}, null)
                @Html.Raw(" | ")
                @Html.ActionLink("Usuń", "DeleteArticle", "Article", new {artId = @art.ID}, null)
            }
            <br/>
            if (art.Content != null)
            {
                <span class="lead">
                    @art.Content
                </span>
            }
            <br/>
            if ( !String.IsNullOrEmpty(art.Image) )
            {
                <a class="group3" href="@Url.Content(art.Image)" title="@art.Content">
                    <img class="img-thumbnail" src="@Url.Content(art.Image)" alt="Image" height="100" width="100"/>
                </a>
            }
            <br/>
            @Html.Raw("</div>")
            @Html.Raw("<div class=\"panel-footer\">")
            @Html.Raw("<b>Komentarze: </b>")
            <br/>

            var comments = new PortalSpolecznosciowy.Repository.GetComments(@art.ID).Comments;
            foreach (var com in comments)
            {
                @Html.Raw("<div class=\"panel-footer\">")
                var author = new PortalSpolecznosciowy.Repository.GetUser(@com.Users_ID).UserLogin;
                <p class="h6">
                    @Html.Raw("<b> autor: " + @author + "</b>")

                    @if (Session["Login"] != null && (new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 2 ||
                                                      new PortalSpolecznosciowy.Repository.GetRole(Session["Login"].ToString()).Role == 3))
                    {
                        //@Html.ActionLink("Edytuj", "EditComment", "Article", new { artId = @art.ID }, null)
                        @Html.ActionLink("Usuń", "DeleteComment", "Article", new {artId = @art.ID, comId = @com.ID}, null)
                    }

                    <br/>
                    <br/>
                    @com.Content
                </p>

                if (com.Image != null)
                {
                    <a class="group3" href="@Url.Content(com.Image)" title="@com.Content">
                        <img class="img-thumbnail" src="@Url.Content(com.Image)" alt="Image" height="100" width="100"/>
                    </a>
                }
                @Html.Raw("</div>")
            }

            @Html.Raw("<div class=\"panel-footer \">")
            @Html.ActionLink("Pokaż wszystkie komentarze", "Index", "Article", new {articleId = art.ID}, null)
            <br/>

            using (Html.BeginForm("AddComment", "MainPanel", FormMethod.Post, new {enctype = "multipart/form-data", id = "Form" + @art.ID}))
            {
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.TextBoxFor(x => x.CommentContent, new {@class = "form-control", id = "Comment" + @art.ID, @Value = "napisz komentarz", onclick = "clearField(this.id)"})
                <br/>
                @Html.TextBoxFor(x => x.File, new {type = "file", id = "CommentFile" + @art.ID, @class = "filestyle", data_input = "false", data_buttonText = "Wybierz obrazek"})
                @Html.Hidden("articleId", @art.ID)
                @Html.Hidden("accessible", 1)
                <br/>
                <input type="submit" value="Skomentuj" onclick="onSend(@art.ID)" class="btn btn-primary"/>
            }
            @Html.Raw("</div>")
            @Html.Raw("</div>")
            @Html.Raw("</div>")
        }

        <div class="btn-groupp pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("UserProfile", "Users", new {userLogin = @Model.UserLogin, page = x, option = TempData["option"]}))
        </div>

    </div>

    <div class="col-md-4">
        @Html.Partial("Users/_DisplayUserContacts", @Model.UserContacts)
    </div>

</div>

<script>
            var click = false;

            function clearField(id) {
                console.log(id);
                document.getElementById(id).value = "";
                click = true;
            }

            function onSend(formId) {
                if (click == false)
                    document.getElementById("Comment" + formId).value = null;
            }
</script>
