﻿@model IEnumerable<PortalSpolecznosciowy.Repository.Contacts>

<table class="table">
    <tr>
        <th colspan="2">
            Kontakty:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Active != 2) { continue; }
        <tr>
            <td>
                @{
                    var user1 = new PortalSpolecznosciowy.Repository.GetUser(item.UserId1).UserLogin;
                    var user2 = new PortalSpolecznosciowy.Repository.GetUser(item.UserId2).UserLogin;
                    @(user1 == Request.Params["userLogin"] ?
                        Html.ActionLink(user2, "UserProfile", "Users", new { userLogin = user2 }, null)
                        : Html.ActionLink(user1, "UserProfile", "Users", new { userLogin = user1 }, null))
                }
            </td>
        </tr>
    }
</table>
