﻿@model PortalSpolecznosciowy.Models.ProfilAndWall

@{
    ViewBag.Title = "Strona główna";
}

<div class="row panel" style="margin-top:50px;">
    <div class="col-md-3">
        @Html.Partial("MainPage/_Menu", Model.user)
        <br/>
        <br/>
        <br/>
        @Html.Partial("MainPage/_Chat")
    </div>
    <div id="categories" class="col-md-5">

        @if (TempData["error"] != null)
        {
            <div class="text-danger">@TempData["error"]</div>
        }

        @Html.Raw("<b>Napisz artykuł: </b>")
        <br />

        @using (Html.BeginForm("AddArticle", "MainPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextAreaFor(x => x.ArticleContent, new { @class = "form-control", @style = "height: 100px; min-width: 99%", @Value = "napisz komentarz", onclick = "clearField(this.id)" })
            <br />
            @Html.TextBoxFor(x => x.File, new { type = "file", @class = "filestyle", data_input = "false", data_buttonText = "Wybierz obrazek" })
            @Html.HiddenFor(x => x.user.Login, new { @value = Session["Login"] })
            <input type="submit" value="Napisz" class="btn btn-primary" style="margin-left: 370px; margin-top: -60px" />
        }

        <br />
        @Html.Partial("MainPage/_Wall")
    </div>

    <div class="col-md-4">
        @Html.Partial("MainPage/_DisplayContacts", @Model.Contacts)
    </div>

    

</div>