﻿@model IEnumerable<PortalSpolecznosciowy.Repository.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarządznie użytkownikami</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastLoginData)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastLoginIP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                    {
                        Text = "Użytkownik",
                        Value = "1"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Moderator",
                        Value = "2"
                    });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Administrator",
                        Value = "3"
                    });

                    using (Html.BeginForm("ChangeRole", "AdminPanel", FormMethod.Post))
                    {
                        @Html.DropDownList("role", new SelectList(listItems, "Value", "Text", @item.Role), new {@class = "btn btn-primary dropdown-toggle", onchange = @"form.submit();"})
                        @Html.Hidden("userLogin", @item.Login)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastLoginData)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastLoginIP)
            </td>
            <td>
                @if (item.Banned)
                {
                    @Html.ActionLink("Odbanuj", "UnBanUser", new { userLogin = item.Login })
                    @Html.Raw(" | ")
                }
                else
                {
                    @Html.ActionLink("Banuj", "BanUser", new { userLogin = item.Login })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Usuń", "DeleteUser", new { userLogin = item.Login })
            </td>
        </tr>
    }

</table>
